<template>
  <div class="container-md">
    <h1 style="color: green">
      <font-awesome-icon icon="fa-solid fa-code" /> VUE API CRUD
    </h1>
    <hr />
    <h2 style="color: teal">
      <font-awesome-icon icon="fa-solid fa-list" /> LIST
    </h2>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Gender</th>
          <th scope="col">Username</th>
          <th scope="col">Email</th>
          <th scope="col">Website</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(user, index) in users" :key="user.id">
          <th scope="row">{{ index + 1 }}</th>
          <td>{{ user.name }}</td>
          <td>{{ user.gender }}</td>
          <td>{{ user.username }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.website }}</td>
          <td>
            <button
              type="button"
              class="btn btn-info mr-1"
              @click="editUser(user)"
            >
              <font-awesome-icon icon="fa-solid fa-pen-to-square" /> Edit
            </button>
            <button
              type="button"
              class="btn btn-danger"
              @click="deleteUser(user.id)"
            >
              <font-awesome-icon icon="fa-solid fa-trash" /> Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <hr />
    <h2 style="color: teal">
      <font-awesome-icon icon="fa-solid fa-pen-to-square" /> {{ submitMethod }}
    </h2>
    <input type="hidden" v-model="user.id" />
    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon1">Name</span>
      <input
        type="text"
        class="form-control"
        placeholder="Name"
        aria-label="Name"
        aria-describedby="basic-addon1"
        v-model="user.name"
      />
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon1">Gender</span>
      <input
        type="text"
        class="form-control"
        placeholder="Gender"
        aria-label="Gender"
        aria-describedby="basic-addon1"
        v-model="user.gender"
      />
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon1">Username</span>
      <input
        type="text"
        class="form-control"
        placeholder="Username"
        aria-label="Username"
        aria-describedby="basic-addon1"
        v-model="user.username"
      />
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon1">Email</span>
      <input
        type="text"
        class="form-control"
        placeholder="Email"
        aria-label="Email"
        aria-describedby="basic-addon1"
        v-model="user.email"
      />
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon1">Website</span>
      <input
        type="text"
        class="form-control"
        placeholder="Website"
        aria-label="Website"
        aria-describedby="basic-addon1"
        v-model="user.website"
      />
    </div>
    <button type="submit" class="btn btn-success" @click="submitUser()">
      <font-awesome-icon icon="fa-solid fa-paper-plane" /> Submit
    </button>
  </div>
</template>

<script>
import UserDataService from "../services/UserDataService";

export default {
  name: "UserPage",
  data() {
    return {
      user: {
        id: null,
        name: "",
        gender: "",
        username: "",
        email: "",
        website: "",
      },
      users: [],
      submitMethod: "Create",
    };
  },
  methods: {
    getAllUsers() {
      UserDataService.getAll()
        .then((response) => {
          this.users = response.data;
          console.log(response.data);
        })
        .catch((e) => {
          console.log(e);
        });
    },
    submitUser() {
      var data = {
        name: this.user.name,
        gender: this.user.gender,
        username: this.user.username,
        email: this.user.email,
        website: this.user.website,
      };

      if (this.user.id) {
        UserDataService.update(this.user.id, this.user)
          .then((response) => {
            console.log(response);
            this.users = this.getAllUsers();
          })
          .catch((e) => {
            console.log(e);
          });
      } else {
        UserDataService.add(data)
          .then((response) => {
            console.log(response);
            this.users = this.getAllUsers();
          })
          .catch((e) => {
            console.log(e);
          });
      }

      this.user = {};
      this.submitMethod = "Create";
    },
    editUser(user) {
      this.submitMethod = "Edit";
      this.user = {
        id: user.id,
        name: user.name,
        username: user.username,
        gender: user.gender,
        email: user.email,
        website: user.website,
      };
    },
    deleteUser(id) {
      UserDataService.delete(id)
        .then((response) => {
          console.log(response.data);
          this.users = this.getAllUsers();
        })
        .catch((e) => {
          console.log(e);
        });
    },
  },
  mounted() {
    this.getAllUsers();
  },
};
</script>