<template>
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-2">
        <nav class="nav flex-column">
          <router-link class="nav-link" to="/">Users</router-link>
          <router-link class="nav-link" to="/world-a">World A</router-link>
          <router-link class="nav-link" to="/world-b">World B</router-link>
          <router-link class="nav-link" to="/world-c">World C</router-link>
        </nav>
      </div>
      <div class="col-md-10">
        <router-view></router-view>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "App",
};
</script>